<!DOCTYPE html>
<!--html manifest="manifest.appcache" ng-app-->
<html ng-app>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="pragma" content="no-cache">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Load Shedding App </title>

    <link rel="stylesheet" type="text/css" href="shared/style_unstable/toolbars.css">
    <link rel="stylesheet" type="text/css" href="shared/style/headers.css">
    <link rel="stylesheet" type="text/css" href="shared/style_unstable/drawer.css">
    <link rel="stylesheet" type="text/css" href="shared/style_unstable/lists.css">
    <link rel="stylesheet" type="text/css" href="shared/style/action_menu.css">
    <link rel="stylesheet" type="text/css" href="shared/style/status.css">
    <link rel="stylesheet" type="text/css" href="util.css">
    <link rel="stylesheet" type="text/css" href="app.css">
    <script type="text/javascript" charset="utf-8" src="shared/js/gesture_detector.js"></script>
    <script type="text/javascript" charset="utf-8" src="shared/js/mouse_event_shim.js"></script>
    <script type="text/javascript" charset="utf-8" src="js/underscore.js"> </script>
    <script type="text/javascript" charset="utf-8" src="js/moment.min.js"> </script>
    <script type="text/javascript" charset="utf-8" src="js/angular.min.js"> </script>
    <script type="text/javascript" charset="utf-8" src="js/app.js"> </script>
  </head>
  <body ng-controller="mainCtrl">

    <section role="status" ng-show="notification.status" ng-click="hideNotify()"> <p ng-bind-html-unsafe="notification.message"></p> </section>

    <section data-type="sidebar">
    <header>
    <menu type="toolbar">
      <a href="#"><span class="icon icon-home" ng-click="changeGroup()">home</span></a>
    </menu>
    <h1>Change Group</h1>
    </header>
    <nav>
    <ul>
      <li ng-repeat="(num,group) in schedule" ng-click="changeGroup(num)" ng-class="{'active': num == currentGroupNumber}"> 
      <a href="#">Group {{num}}</a> 
      </li>
    </ul>
    </nav>
    <div role="toolbar"> 
      <a href="#">
        <div id="defaultGroup" ng-click="setDefaultGroup()">
          Set current as Default Group 
        </div>
      </a>
    </div>
    </section>
    <section id="drawer" role="region">
    <header class="fixed">
    <a href="#"><span class="icon icon-menu">hide sidebar</span></a>
    <a href="#drawer"><span class="icon icon-menu">show sidebar</span></a>
    <h1>Timings - Group {{currentGroupNumber}}  </h1>
    </header>
    <article class="content scrollable header">
    <div role="main">
      <section data-type="list">
      <div class="status"> LoadShedding Status : {{status}} </div>
      <ul>
        <li ng-repeat="(num,times) in current" ng-class="{'today': num == currentTime.day}">
        <div class="day"><strong>{{times.day}}</strong></div>
        <div class="times"> <span ng-repeat="time in times.timing"> {{time[0].formatted}} - {{time[1].formatted}} <br  /></span></div>
        </li>
      </ul>
      </section>
      <!--div id="clock">
      <div id="dot"></div>
      <div id="hour" style="transform:rotate({{(currentTime.hours * 30) - 90}}deg);"></div>
      <div id="minute" style="transform:rotate({{(currentTime.minutes * 6) - 90}}deg);"></div>
      <div id="second" style="transform:rotate({{(currentTime.seconds * 6) - 90}}deg);"></div>
      <div class="shedding" style="transform:rotate({{(currentTime.seconds * 6) - 90}}deg);">
        <div class="clip" style=""></div>
      </div>
      </div-->
    </div>
    </article>
    </section>


  </body>
</html>
